:root{
    --greenMuda: #20E5B1;
    --biruMuda: #9EDDF5;
    --hitam: #282633;
    --hijau: #1AE9A5;
    --hijau1: #3CCAF3;
}

.form-login {
    margin-top: 8%;
}

.row{
    width: 50%;
}
.col {
    background: var(--hitam);
    color: white;
}

.bg-active::after {
    content: "";
    height: 5px;
    display: block;
    background: linear-gradient(-90deg, var(--hijau), var(--hijau1));
    animation: line 0.8s ease;
}

.signup {
    text-decoration: none; 
    color: white;
}

.signup:hover {
    color: var(--greenMuda);
}

@keyframes line {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.bg-white {
    background-color: white;
}

.btn-login {
    width: 100%;
    background: linear-gradient(-90deg, var(--hijau), var(--hijau1));
}

.btn-login:hover {
    background: linear-gradient(90deg, var(--hijau), var(--hijau1));
    color: white;
}

.icon-tgl {
    background-image:url(../img/icon/Icon\ feather-calendar.png); 
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
}

@media (max-width: 1199.98px) {
    .row{
        width: 60%;
    }
}

@media (max-width: 991.98px) {
    .row{
        width: 70%;
    }
}

@media (max-width: 767.98px) {
    .row{
        width: 90%;
    }
}

@media (max-width: 575.98px) {
    .row{
        width: 80%;
    }
}