.cont-width {
    width: 50%;
}

.card-img-cam {
    border-radius: 10px;
}

.img-cam-view {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    object-fit: contain;
    height: 100%;
    background-color: cornflowerblue;
}

.font-poppins-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-poppins-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.name-camera {
    margin-top: 2rem;
    font-size: 28px;
    font-weight: bold;
}

.txt-alamat {
    font-size: 15px;
    color: darkgrey;
}

.title-desc {
    margin-top: 40px;
    font-size: 16px;
}

.txt-desc {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.card-camera {
    float: left;
    width: 210px;
    height: 260px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 10px;
}

.card-camera img {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    background-color: #3ACEEC;
}

.rekomen a {
    text-decoration: none;
    color: black;
}

.btn-card-view {
    width: 100%;
    height: auto;
}

.bg-modal {
    width: 110%;
    height: 110%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
}

.model-content {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    font-size: 36px;
    right: 12px;
    top: 0;
    transform: rotate(45deg);
    cursor: pointer;
}

@media (max-width: 1399.98px) {
    .font-nav {
        font-size: 14px;
    }

    .cont-width {
        width: 70%;
    }
    
    .card-img-cam {
        border-radius: 10px;
    }
    
    .img-cam-view {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        object-fit: contain;
        height: 100%;
        background-color: cornflowerblue;
    }
    
    .font-poppins-reg {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    
    .font-poppins-med {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .name-camera {
        margin-top: 2rem;
        font-size: 24px;
        font-weight: bold;
    }
    
    .txt-alamat {
        font-size: 12px;
        color: darkgrey;
    }
    
    .title-desc {
        margin-top: 40px;
        font-size: 14px;
    }
    
    .txt-desc {
        font-size: 12px;
        color: rgb(82, 82, 82);
    }
    
    .card-camera {
        float: left;
        width: 190px;
        height: 230px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        background-color: #3ACEEC;
    }
    
    .rekomen a {
        text-decoration: none;
        color: black;
    }
    
    .btn-card-view {
        width: 100%;
        height: auto;
    }
    
    .bg-modal {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .model-content {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        position: absolute;
        font-size: 36px;
        right: 12px;
        top: 0;
        transform: rotate(45deg);
        cursor: pointer;
    }
}

@media (max-width: 1199.98px) {
    .font-nav {
        font-size: 12px;
    }

    .cont-width {
        width: 80%;
    }
    
    .card-img-cam {
        border-radius: 10px;
    }
    
    .img-cam-view {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        object-fit: contain;
        height: 100%;
        background-color: cornflowerblue;
    }
    
    .name-camera {
        margin-top: 2rem;
        font-size: 24px;
        font-weight: bold;
    }
    
    .txt-alamat {
        font-size: 12px;
        color: darkgrey;
    }
    
    .title-desc {
        margin-top: 30px;
        font-size: 14px;
    }
    
    .txt-desc {
        font-size: 12px;
        color: rgb(82, 82, 82);
    }
    
    .card-camera {
        float: left;
        width: 150px;
        height: 190px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        background-color: #3ACEEC;
    }

    .info-item h5 {
        font-size: 16px;
    }
    
    .info-item p {
        font-size: 14px;
    }

    .rekomen a {
        text-decoration: none;
        color: black;
    }
    
    .btn-card-view {
        width: 100%;
        height: auto;
    }
    
    .bg-modal {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .model-content {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        position: absolute;
        font-size: 36px;
        right: 12px;
        top: 0;
        transform: rotate(45deg);
        cursor: pointer;
    }
}

@media (max-width: 767.98px) {
    .font-nav {
        font-size: 12px;
    }

    .cont-width {
        width: 80%;
    }
    
    .card-img-cam {
        border-radius: 10px;
    }
    
    .img-cam-view {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        object-fit: contain;
        height: 100%;
        background-color: cornflowerblue;
    }
    
    .name-camera {
        margin-top: 2rem;
        font-size: 24px;
        font-weight: bold;
    }
    
    .txt-alamat {
        font-size: 12px;
        color: darkgrey;
    }
    
    .title-desc {
        margin-top: 20px;
        font-size: 14px;
    }
    
    .txt-desc {
        font-size: 12px;
        color: rgb(82, 82, 82);
    }
    
    .card-camera {
        float: left;
        width: 230px;
        height: 250px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        background-color: #3ACEEC;
    }

    .info-item h5 {
        font-size: 16px;
    }
    
    .info-item p {
        font-size: 14px;
    }

    .rekomen a {
        text-decoration: none;
        color: black;
    }
    
    .btn-card-view {
        width: 100%;
        height: auto;
    }
    
    .bg-modal {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .model-content {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        position: absolute;
        font-size: 36px;
        right: 12px;
        top: 0;
        transform: rotate(45deg);
        cursor: pointer;
    }
}

@media (max-width: 575.98px) {
    .font-nav {
        font-size: 12px;
    }

    .cont-width {
        width: 100%;
    }
    
    .card-img-cam {
        border-radius: 10px;
    }
    
    .img-cam-view {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        object-fit: contain;
        height: 100%;
        background-color: cornflowerblue;
    }
    
    .name-camera {
        margin-top: 2rem;
        font-size: 24px;
        font-weight: bold;
    }
    
    .txt-alamat {
        font-size: 12px;
        color: darkgrey;
    }
    
    .title-desc {
        margin-top: 20px;
        font-size: 14px;
    }
    
    .txt-desc {
        font-size: 12px;
        color: rgb(82, 82, 82);
    }
    
    .card-camera {
        float: left;
        width: 220px;
        height: 240px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        background-color: #3ACEEC;
    }

    .info-item h5 {
        font-size: 16px;
    }
    
    .info-item p {
        font-size: 14px;
    }

    .rekomen a {
        text-decoration: none;
        color: black;
    }
    
    .btn-card-view {
        width: 100%;
        height: auto;
    }
    
    .bg-modal {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .model-content {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        position: absolute;
        font-size: 36px;
        right: 12px;
        top: 0;
        transform: rotate(45deg);
        cursor: pointer;
    }
}