.cont {
    width: 800px;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.btn {
    width: 100%;
    height: 40px;
}

/* font poppins */
.font-poppins-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-poppins-semi {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.font-poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pic-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_input {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    display: none;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .col h1 {
        margin-left: 20px;
    }

    .pic-profile {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
}