.const-width {
    width: 50%;
}

.font-poppins-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-poppins-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-poppins-sb {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav {
    background-color: linear-gradient(90deg, var(--biruMuda), #E1F5FC);    
}

.text-3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1399.98px) {
    .font-nav {
        font-size: 14px;
    }
}

@media (max-width: 1199.98px) {
    .const-width {
        width: 60%;
    }
}

@media (max-width: 991.98px) {
    .const-width {
        width: 70%;
    }
}

@media (max-width: 767.98px) {
    .const-width {
        width: 80%;
    }

    .no-tlpn {
        font-size: 14px;
    }

    .alamat {
        font-size: 14px;
    }

    .tenggat {
        font-size: 14px;
    }
}