:root{
    --greenMuda: #20E5B1;
    --biruMuda: #9EDDF5;
    --hitam: #282633;
}

body {
    background: linear-gradient(90deg, var(--biruMuda), #E1F5FC);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
}

.img-cam-intro {
    width: 700px;
    height: auto;
}

.text-coloring {
    color: var(--hitam);
}

.gd-main {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35%;
    height: auto;
}

.text-1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.text-2 {
    font-family: 'Roboto', sans-serif;
}

.btn-mulai, .nav-barbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn-mulai {
    font-weight: 500;
    font-size: 15px;
    outline-width: 2px;
}

/* font poppins */
.font-poppins-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-poppins-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-poppins-semi {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.font-poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.cover {
    margin-bottom: 11%;
}

.kategori {
    padding-top: 5%;
    padding-bottom: 5%;
    background: white;
}

.kat-camera {
    width: 50%;
    height: auto;
}

.map {
    background-image: url("../img/bg-div.jpg");
    background-size: cover;
}

.img-map {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    opacity: 1;
}

.img-circle {
    border-radius: 50%;
    width: 380px;
    height: 380px;
    background-color: gray;
}

.tim-study-war {
    background-color: #fff;
}

.tb {
    background-image: url("../img/tb.jpg");
    background-position: center;
    background-size: cover;
}

.eka {
    background-image: url("../img/eka.jpeg");
    background-position: center;
    background-size: cover;
}

.anas {
    background-image: url("../img/anas.jpg");
    background-position: center;
    background-size: cover;
}

footer {
    background-color: var(--hitam);
    color: white;
}

.circle-sosmed {
    width: 54px;
    height: 54px;
    background-color: grey;
    border-radius: 50%;
}

.icon-scale {
    transform: scale(0.9);
}

.copyright {
    font-size: 15px;
}

@media (max-width: 1399.98px) {
    .img-cam-intro {
        width: 600px;
        height: auto;
    }

    .gd-main {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 50%;
        height: auto;
    }

    .img-circle {
        border-radius: 50%;
        width: 320px;
        height: 320px;
        background-color: gray;
    }
}

@media (max-width: 1199.98px) {

    .img-cam-intro {
        width: 500px;
        height: auto;
    }

    .gd-main {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 45%;
        height: auto;
    }

    .text-1 {
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    
    .text-2 {
        font-family: 'Roboto', sans-serif;
    }

    .cover {
        margin-bottom: 8%;
    }
    
    .kategori {
        padding-top: 3%;
        padding-bottom: 3%;
        background: white;
    }

    .kat-1 {
        font-size: 30px;
    }

    .kat-2 {
        font-size: 35px;
    }

    .img-circle {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        background-color: gray;
    }

}

@media (max-width: 1040.98px) {
    .img-cam-intro {
        width: 500px;
        height: auto;
    }

    .gd-main {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 55%;
        height: auto;
    }

    .img-circle {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        background-color: gray;
    }
}

@media (max-width: 991.98px) {

    .img-cam-intro {
        width: 500px;
        height: auto;
    }

    .gd-main {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 50%;
        height: auto;
    }

    .text-1 {
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    
    .text-2 {
        font-family: 'Roboto', sans-serif;
    }

    .cover {
        margin-bottom: 6%;
    }
    
    .kategori {
        padding-top: 3%;
        padding-bottom: 3%;
        background: white;
    }

    .kat-1 {
        font-size: 25px;
    }

    .kat-2 {
        font-size: 30px;
    }

    .img-circle {
        border-radius: 50%;
        width: 260px;
        height: 260px;
        background-color: gray;
    }

}

@media (max-width: 767.98px) {

    .col-cam {
        width:100%;
    }

    .img-cam-intro {
        margin-top:  -6rem;
        width: 500px;
        height: auto;

    }

    .gd-main {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 60%;
        height: auto;
    }

    .kat {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .kat-1 {
        font-size: 20px;
    }
    .kat-2 {
        font-size: 25px;
    }

    .kat-camera {
        width: 120px;
    }

    .text-map {
        font-size: 25px;
    }

    .img-circle {
        border-radius: 50%;
        width: 220px;
        height: 220px;
        background-color: gray;
    }

}

