.cont {
    width: 800px;
}

#display_images {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn {
    width: 100%;
    height: 40px;
}
