.btn-logout-dwn {
    border-radius: 5px;
    background-color: #3ACEEC;
}

.font-poppins-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-poppins-med {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-poppins-sb {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.font-filter {
    font-size: 20px;
}

.select-lokasi {
    font-size: 14px;
}

.btn-filter {
    width: 100%;
    border-style: none;
    background: #282633;
    color: white;
    border-radius: 5px;
}

.border-left-col {
    border-right: 1px solid rgb(207, 207, 207);
}

.card-camera {
    float: left;
    width: 280px;
    height: 300px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 10px;
}

.card-camera img {
    border-radius: 6px 6px 0px 0px;
    height: 210px;
    width: 100%;
    background-color: #3ACEEC;
    object-fit: cover;
}

@media (max-width: 1399.98px) {
    .font-nav {
        font-size: 14px;
    }


    .font-filter {
        font-size: 16px;
    }
    
    .select-lokasi {
        font-size: 14px;
    }
    
    .btn-filter {
        width: 100%;
        border-style: none;
        background: #282633;
        color: white;
        border-radius: 5px;
    }
    
    .border-left-col {
        border-right: 1px solid rgb(207, 207, 207);
    }
    
    .card-camera {
        float: left;
        width: 250px;
        height: 280px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        height: 180px;
        width: 100%;
        background-color: #3ACEEC;
        object-fit: cover;
    }
}

@media (max-width: 1199.98px) {
    .font-nav {
        font-size: 12px;
    }

    .font-filter {
        font-size: 14px;
    }

    .font-kamera {
        font-size: 18px;
    }
    
    .select-lokasi {
        font-size: 13px;
    }

    .font-radio {
        font-size: 13px;
    }
    
    .btn-filter {
        width: 100%;
        border-style: none;
        background: #282633;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .border-left-col {
        border-right: 1px solid rgb(207, 207, 207);
    }
    
    .card-camera {
        float: left;
        width: 210px;
        height: 230px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        height: 150px;
        width: 100%;
        background-color: #3ACEEC;
        object-fit: cover;
    }
}

@media (max-width: 767.98px) {
    .font-nav {
        font-size: 12px;
    }

    .font-filter {
        font-size: 14px;
    }

    .font-kamera {
        font-size: 16px;
    }
    
    .select-lokasi {
        font-size: 13px;
    }

    .font-radio {
        font-size: 13px;
    }
    
    .btn-filter {
        width: 100%;
        border-style: none;
        background: #282633;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .border-left-col {
        border-right: 1px solid rgb(207, 207, 207);
    }
    
    .card-camera {
        float: left;
        width: 170px;
        height: 210px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 10px;
    }
    
    .card-camera img {
        border-radius: 6px 6px 0px 0px;
        height: 120px;
        width: 100%;
        background-color: #3ACEEC;
        object-fit: cover;
    }
}

@media (max-width: 575.98px) {

    .margin {
        margin-left: 20px;
    }

    .img-cam-intro {
        width: 400px;
        height: auto;
        margin-top: -7rem;
        margin-left: 3rem;
    }

    .text-1 {
        font-size: 40px;
        padding-left: 30px;
    }

    .text-2 {
        font-size: 20px;
        padding-left: 30px;
    }

    .btn-mulai {
        margin-left: 30px;
        margin-right: 30px;
    }

    .kat {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .kat-1 {
        font-size: 20px;
    }
    .kat-2 {
        font-size: 25px;
    }

    .kat-camera {
        width: 100px;
    }

    .img-circle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: gray;
    }
}